@import "tailwindcss";
@theme {
  --color-box-color: #f4f7fa;
  --color-text-primary: #161c2d;
}
@layer utilities {
  .container {
    @apply mx-auto px-4 max-w-[1110px];
  }
}
#Header-Content {
  background: center / cover no-repeat url("../public/images/header/Hero.png");
}
